#content {
    background-color: #FFF2EB;
    background-image: url(../../images/logoPNG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    opacity: 1;
    height: 80vh;
    margin: 0 auto;
    width: 100vw;
}
 
#barras {
    margin-top: 0px; 
}
