.image-upload {
    width: fit-content;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedorTipo {
    width: fit-content;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 40px;
}

.selectTipo {
    width: 150px;
    height: 49px;
    border-radius: 10px;
    border: 3px solid;
    font-size: 20px;
}

.selectTitulo {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

.valorRespuesta {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid;
}

.contenedorRespuesta {
    padding-top: 50px;
    padding-bottom: 40px;
}

.titulos {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.tamRompe {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.elementosRompecabezas {
    width: fit-content;
    height: fit-content;
}

.elementoJuego {
    display: grid;
    grid-template-columns: 230px;
    grid-template-rows: 100px 160px;
    gap: 10px 10px;
    width: 330px;
    height: 500px;
    margin-left: 40vw;
    /* Same as the width of the sidenav */
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 0px 0px 35px;
    color: #85046f;
    border: 3px dashed;
    border-radius: 30px;
    border-color: #917681;
}

.tituloRompe {
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-left: 58px;
}

.image-upload {
    margin-left: 46px;
}

.cargaImagen {
    width: 200px;
    height: 200px;
}