/*--------------------------------------------POPUPS ALERTAS------------------------------------------*/
.overlayAlerta {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(229, 152, 155, 0.5);
    transition: opacity 500ms;
    opacity: 0;
    z-index: 1500;
}

.popupAlerta {
    margin: 150px auto;
    padding: 20px;
    background: #B5838D;
    border-radius: 5px;
    width: fit-content;
    max-height:fit-content;
    position: relative;
    transition: all 5s ease-in-out;
}
.popupAlerta h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popupAlerta .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popupAlerta .close:hover {
    color: #FFB4A2;
}
.popupAlerta .contentAlerta {
    max-height: fit-content;
    width: fit-content;
    overflow: auto;
}
.centerAlerta {
    width: auto;
    position: relative;
    padding: 40px 40px;
    background: #fff;
    border-radius: 10px;
}

.elementosBox{
    display: grid;
    grid-template-columns: auto auto;
}

.nomAlumno{
    padding-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 290px
}

.clipboard{
    padding-top: 39px;
}

#listaCompleta{
    overflow-y: scroll;
    max-height: 250px;
}

#codGrupo{
    width: 666px;
    height: 30px;
    resize: none;
    font-size: 18px;
    text-align: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: #917681;
}
