/*-------------------------------------------BARRA DE NAVEGACION---------------------------------------*/

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    font-family: Gill Sans, sans-serif;
    background: #ffb4a2;
    height: 60px;
    width: 99.5%;
    border: 3px solid;
    border-color: #ffb4a2;
    text-transform: uppercase;
}

.enlace {
    position: absolute;
    margin: 10px 30px;
    border-radius: 20px;
    transition: .5s;
    background: #E5989B;
}

.enlace:hover {
    color: #68555c;
    background: #917681;
    transition: .5s;
    font-size: 16px;
}

.activar {
    position: absolute;
    margin-left: 17px;
    margin-top: -3px;
}

.logoBoton {
    height: 35px;
    cursor: pointer;
}

.logo {
    height: 40px;
    cursor: pointer;
}

#titulo {
    position: fixed;
    margin-left: 30%;
    color: #68555c;
    max-width: 450px;
    background: #E5989B;
    border-radius: 15px;
    max-height: 60px;
    max-width: 200px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 8px;
}

#tituloUser {
    position: fixed;
    margin-left: 15%;
    color: #68555c;
    max-width: 450px;
    background: #E5989B;
    border-radius: 15px;
    max-height: 60px;
    max-width: 200px;
    overflow: hidden;
    font-size: 12px;
    margin-top: 8px;
}

nav ul {
    float: right;
    margin-right: 5%;
    margin-bottom: 0rem;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #68555c;
    font-size: 14px;
    padding: 10px 32px;
    border-radius: 13px;
    text-transform: uppercase;
    background: #E5989B;
    transition: all .5s;
    font-weight: bold;
    cursor: pointer;
}

li a.active {
    color: #68555c;
    transition: all .5s;
    font-size: 16px;
}

li a:hover {
    color: #68555c;
    background: #917681;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/*-------------------------------------------ESTILOS PAGINA RESPONSIVA-----------------------------------*/

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #FFF2EB;
        ;
        top: 40px;
        left: -130%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        margin-right: 25vw;
        line-height: 20px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover,
    li a.active {
        background: pink;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
}