#blocker {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;        /* hacemos que ocupe toda la pantalla a cualquier resolución*/
    z-index: 1500;        /* lo colocamos por encima del resto de componentes*/
    background: rgba(255, 180, 162, 0.3) repeat;  /*Color de fondo semitransparente*/
    visibility: hidden;
}
